# Movie Recommendation System

##### Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

##### Data Import

In [2]:
movies = pd.read_csv(r"F:\D\Dig\Move_recommendation\tmdb_5000_movies.csv")
credits = pd.read_csv(r"F:\D\Dig\Move_recommendation\tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

<br>
____________________________________________________________________________________________________________________________

### Merging Both The DataFrame & Extracting Info From It & Merging It Again

In [5]:
df = movies.merge(credits, on='title')
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

<br>
_____________________________________________________________________________________________________________________________

### Extracting Important Columns

In [6]:
lst = ['genres', 'id', 'keywords', 'title', 'overview', 'cast', 'crew']
data = df[lst]
data.head()

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
data.isna().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [8]:
# Dropping 3 NaN Values

data.dropna(inplace=True)

In [9]:
data.isna().sum()

genres      0
id          0
keywords    0
title       0
overview    0
cast        0
crew        0
dtype: int64

In [10]:
data.duplicated().sum()

0

In [11]:
data.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

<br>
____________________________________________________________________________________________________________________________

### Formating Data

In [12]:
# This function is use to convert string to list
import ast

# Example:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [13]:
def getGenres(val):
    lst = []
    for i in ast.literal_eval(val):
        lst.append(i['name'])
    return lst

In [14]:
data['genres'] = data['genres'].apply(getGenres)
data.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
data['keywords'] = data['keywords'].apply(getGenres)

In [16]:
data.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
def getConvert(val):
    lst = []
    cnt = 1
    for i in ast.literal_eval(val):
        if cnt!=3:
            lst.append(i['name'])
            cnt+=1
        else:
            break
    return lst

data['cast'] = data['cast'].apply(getConvert)

In [18]:
data.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
def getJobdir(val):
    lst = []
    for i in ast.literal_eval(val):
        if i['job'] == 'Director':
            lst.append(i['name'])
            break
    return lst

data['crew'] = data['crew'].apply(getJobdir)

In [20]:
data.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana]",[James Cameron]

In [21]:
# converting overview from string to list

data['overview'] = data['overview'].apply(lambda x:x.split())

In [22]:
data.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana]",[James Cameron]

In [23]:
# Removing Spaces form genres, keywords, cast, crew

data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [24]:
data.head()

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana]",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom]",[GoreVerbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins]",[AndrewStanton]

In [25]:
# Tags : Concatination of all the above columns

data['tags'] = data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']
data.head()

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [26]:
new_df = data[['id', 'title', 'tags']]
new_df.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

#### Convet list 'tags' to string

In [27]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [28]:
new_df.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [29]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [30]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

<br>
_____________________________________________________________________________________________________________________________

### Vectorizing Process

In [31]:
# actor and actors are some so we have to deal with it (So We Are Applying Stemmping)

import nltk

from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [32]:
new_df['tags'] = new_df['tags'].apply(stem)

In [33]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana jamescameron'

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
cv.get_feature_names() # Most occuring 5000 words

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1979',
 '1980',
 '1980s',
 '1985',
 '1990',
 '1995',
 '1997',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2000',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abus',
 'academ',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airborn',
 'aircraft',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcatraz',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'alfredhitchcock',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootbal',
 'americanfootballplay',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andrew',
 'andrewniccol',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'ann',
 'anna',
 'annafari',
 'anne',
 'annehathaway',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyhopkin',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antoinefuqua',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlant',
 'atlanta',
 'atom',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'bahama',
 'bail',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedonchildren',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'beniciodeltoro',
 'benjamin',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billi',
 'billionair',
 'billmurray',
 'billpaxton',
 'billybobthornton',
 'billycryst',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blame',
 'blend',
 'blind',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bohemian',
 'bold',
 'bollywood',
 'bomb',
 'bomber',
 'bond',
 'bone',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakup',
 'breast',
 'breath',
 'breed',
 'brendanfras',
 'brent',
 'brettratn',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridg',
 'brief',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brook',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucewilli',
 'brutal',
 'bryansing',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bum',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'burglar',
 'buri',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'businesswoman',
 'bust',
 'butch',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'canin',
 'cannib',
 'canuxploit',
 'capabl',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'caribbean',
 'carjourney',
 'carl',
 'carmen',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cartel',
 'carter',
 'cartoon',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'cavemen',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childprodigi',
 'children',
 'chill',
 'chimp',
 'china',
 'chines',
 'chip',
 'chipmunk',
 'chloe',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chri',
 'chriscolumbu',
 'chrisevan',
 'chrishemsworth',
 'chrispin',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaricci',
 'christma',
 'christmas',
 'christmasev',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'chrisweitz',
 'chronicl',
 'chuck',
 'chuckrussel',
 'church',
 'cia',
 'cigarettesmok',
 'cigarsmok',
 'cinderella',
 'cindi',
 'cinema',
 'circl',
 'circle',
 'circu',
 'circuit',
 'circumst',
 'circumstances',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilization',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'clan',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'claustrophobia',
 'clay',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'cloud',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cocain',
 'code',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collis',
 'colombia',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compuls',
 'comput',
 'computerviru',
 'conan',
 'concern',
 'concert',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connecticut',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'content',
 'contest',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 ...]

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.0836242 , 0.0862796 , ..., 0.04441156, 0.        ,
        0.        ],
       [0.0836242 , 1.        , 0.06253054, ..., 0.02414023, 0.        ,
        0.02654659],
       [0.0862796 , 0.06253054, 1.        , ..., 0.02490677, 0.        ,
        0.        ],
       ...,
       [0.04441156, 0.02414023, 0.02490677, ..., 1.        , 0.04003204,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.04003204, 1.        ,
        0.08804509],
       [0.        , 0.02654659, 0.        , ..., 0.04229549, 0.08804509,
        1.        ]])

In [37]:
cosine_similarity(vectors).shape

(4806, 4806)

In [39]:
similarity[0]

array([1.        , 0.0836242 , 0.0862796 , ..., 0.04441156, 0.        ,
       0.        ])

In [40]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])

[(0, 1.0000000000000002),
 (1216, 0.28306925853614895),
 (2409, 0.26257545381445874),
 (3730, 0.25715142542972574),
 (539, 0.254762332682534),
 (507, 0.2545139051903111),
 (1204, 0.24419314525275215),
 (582, 0.24194822861802104),
 (61, 0.23372319715296228),
 (1194, 0.23372319715296228),
 (778, 0.22875450543583872),
 (4048, 0.22337423731498202),
 (1920, 0.21977383072747692),
 (2786, 0.21571674297647797),
 (172, 0.20965696734438366),
 (322, 0.20780973338645242),
 (151, 0.20483662259967564),
 (972, 0.2046468711716401),
 (74, 0.20180183819889372),
 (2333, 0.20180183819889372),
 (260, 0.2013190579900678),
 (1444, 0.20016019225635892),
 (3608, 0.20016019225635892),
 (1089, 0.1981740732880975),
 (4192, 0.19611613513818407),
 (3675, 0.19535451620220173),
 (577, 0.19512313566832118),
 (973, 0.19512313566832118),
 (2971, 0.19003715589632164),
 (4, 0.18887686585995425),
 (3327, 0.1887128390240993),
 (1201, 0.18842228790639834),
 (495, 0.1884222879063983),
 (305, 0.18762218965128746),
 (4405, 0.18490006540840973),
 (94, 0.1849000654084097),
 (1275, 0.1849000654084097),
 (1329, 0.1849000654084097),
 (1071, 0.18427434427242975),
 (27, 0.18302666282596894),
 (373, 0.17902871850985821),
 (2999, 0.17902871850985821),
 (220, 0.17841031003501576),
 (83, 0.177646236673731),
 (47, 0.17606490818551632),
 (3999, 0.1754116038614058),
 (168, 0.17505471314812435),
 (1321, 0.17471413945365305),
 (184, 0.17295817388759027),
 (2204, 0.17295817388759027),
 (4336, 0.17295817388759027),
 (931, 0.17255919256291524),
 (91, 0.16984155512168933),
 (36, 0.16898159235484367),
 (300, 0.16898159235484367),
 (3538, 0.16898159235484367),
 (1982, 0.16724840200141816),
 (942, 0.167093470609201),
 (661, 0.1653796461189446),
 (41, 0.16526725762745997),
 (529, 0.16526725762745997),
 (1831, 0.16526725762745997),
 (150, 0.1621424235993525),
 (31, 0.16012815380508716),
 (2515, 0.16012815380508716),
 (67, 0.16012815380508713),
 (595, 0.1601281538050871),
 (342, 0.15914876753019166),
 (1537, 0.15695698526580623),
 (1178, 0.15585730003983933),
 (4010, 0.15534712747612348),
 (149, 0.15421731519099738),
 (2731, 0.15408338784034142),
 (187, 0.15384615384615383),
 (26, 0.15191090506255),
 (838, 0.15097027121927944),
 (1383, 0.1500468969841066),
 (111, 0.14824986333222023),
 (311, 0.14824986333222023),
 (513, 0.14824986333222023),
 (1344, 0.14824986333222023),
 (7, 0.14651588715165131),
 (294, 0.14617633655117152),
 (2075, 0.14617633655117152),
 (3162, 0.14592836972877915),
 (52, 0.14484136487558028),
 (1396, 0.1447071903540765),
 (2760, 0.1447071903540765),
 (127, 0.14412659875498),
 (275, 0.1437993271357627),
 (568, 0.1437993271357627),
 (579, 0.1437993271357627),
 (581, 0.1437993271357627),
 (108, 0.14322297480788657),
 (466, 0.14322297480788657),
 (1297, 0.14322297480788657),
 (1479, 0.14235407108686474),
 (1938, 0.1416576493949657),
 (461, 0.14153462926807447),
 (3354, 0.14153462926807445),
 (95, 0.1401425507601155),
 (1273, 0.1401425507601155),
 (1355, 0.1401425507601155),
 (56, 0.13977131156292244),
 (249, 0.13977131156292244),
 (490, 0.13977131156292244),
 (1488, 0.13977131156292244),
 (46, 0.13937366833451514),
 (413, 0.13937366833451514),
 (2496, 0.13937366833451514),
 (3409, 0.1373087590952724),
 (17, 0.13693937303317935),
 (935, 0.13655774839978377),
 (1327, 0.13655774839978377),
 (3781, 0.13655774839978377),
 (1965, 0.13592873654160803),
 (72, 0.13533299049019168),
 (843, 0.13533299049019168),
 (859, 0.13533299049019168),
 (2169, 0.13533299049019168),
 (4538, 0.1345345587992625),
 (476, 0.13355611265883557),
 (668, 0.13355611265883557),
 (3982, 0.13355611265883557),
 (1808, 0.13344012817090595),
 (158, 0.13323467750529824),
 (4348, 0.13323467750529824),
 (1322, 0.13302600912742518),
 (502, 0.1319717610643751),
 (777, 0.1319717610643751),
 (126, 0.1316245316231641),
 (1560, 0.1316245316231641),
 (134, 0.1307440900921227),
 (368, 0.1307440900921227),
 (505, 0.1307440900921227),
 (1373, 0.1307440900921227),
 (1774, 0.1307440900921227),
 (2378, 0.1307440900921227),
 (2584, 0.1307440900921227),
 (1015, 0.12988108336653278),
 (2181, 0.12988108336653278),
 (4079, 0.12988108336653278),
 (2133, 0.1283881477532739),
 (14, 0.1282051282051282),
 (937, 0.1282051282051282),
 (3622, 0.1282051282051282),
 (487, 0.12810252304406972),
 (773, 0.12810252304406972),
 (2873, 0.12725695259515554),
 (138, 0.12659242088545833),
 (1086, 0.12659242088545833),
 (2686, 0.12659242088545833),
 (4230, 0.12659242088545833),
 (483, 0.12561485860426555),
 (1096, 0.12561485860426555),
 (1158, 0.12561485860426555),
 (2060, 0.12561485860426555),
 (2970, 0.12561485860426555),
 (369, 0.12503908082008885),
 (754, 0.12503908082008885),
 (1741, 0.12403473458920844),
 (2480, 0.12403473458920844),
 (3083, 0.12403473458920844),
 (166, 0.1235415527768502),
 (2450, 0.1235415527768502),
 (3628, 0.1235415527768502),
 (68, 0.12326671027227314),
 (2652, 0.12326671027227314),
 (102, 0.12301385521570944),
 (438, 0.12209657262637608),
 (84, 0.12201777521731262),
 (208, 0.12104550653376048),
 (1004, 0.12104550653376048),
 (1274, 0.12104550653376048),
 (1658, 0.12104550653376048),
 (3376, 0.12104550653376048),
 (1878, 0.12104550653376046),
 (549, 0.1207011373963169),
 (557, 0.1207011373963169),
 (2331, 0.12009611535381534),
 (2674, 0.12009611535381534),
 (1299, 0.11935247900657214),
 (1002, 0.11916871834484359),
 (781, 0.11894020669001051),
 (3736, 0.11894020669001051),
 (139, 0.1182624791978165),
 (278, 0.1180480411624714),
 (870, 0.1180480411624714),
 (900, 0.1180480411624714),
 (122, 0.11694106924093722),
 (678, 0.11694106924093722),
 (1047, 0.11694106924093722),
 (1833, 0.11694106924093722),
 (2741, 0.11694106924093722),
 (4673, 0.11694106924093722),
 (189, 0.11651034560709261),
 (1673, 0.11651034560709261),
 (1715, 0.11651034560709261),
 (2789, 0.11651034560709261),
 (4000, 0.11651034560709261),
 (160, 0.1162316123235675),
 (182, 0.11556254088025608),
 (1056, 0.11556254088025608),
 (1617, 0.11556254088025608),
 (2284, 0.11556254088025608),
 (422, 0.11503946170861017),
 (1301, 0.11503946170861017),
 (589, 0.11483385035264292),
 (432, 0.11437725271791938),
 (454, 0.11437725271791938),
 (1220, 0.11437725271791938),
 (2547, 0.11437725271791938),
 (3235, 0.11437725271791938),
 (1497, 0.114022293537793),
 (3212, 0.11357879791107997),
 (1575, 0.11322770341445959),
 (3721, 0.11322770341445959),
 (85, 0.11322770341445958),
 (536, 0.11322770341445958),
 (28, 0.11322770341445956),
 (50, 0.11322770341445956),
 (236, 0.11322770341445956),
 (123, 0.11211213233271873),
 (420, 0.11211213233271873),
 (1418, 0.11211213233271873),
 (889, 0.11153342776500881),
 (121, 0.11149893466761211),
 (232, 0.11149893466761211),
 (1616, 0.11149893466761211),
 (3147, 0.11094003924504581),
 (206, 0.11020775375559676),
 (256, 0.11020775375559674),
 (653, 0.11020775375559674),
 (808, 0.11020775375559674),
 (1348, 0.11020775375559674),
 (2161, 0.11020775375559674),
 (2372, 0.10997646755364592),
 (3309, 0.10997646755364592),
 (87, 0.10984700727621793),
 (449, 0.10984700727621793),
 (1945, 0.10984700727621793),
 (4468, 0.10984700727621793),
 (238, 0.10948978029027179),
 (1574, 0.10948978029027179),
 (228, 0.10895340841010223),
 (692, 0.10895340841010223),
 (3428, 0.10826639239215335),
 (21, 0.10826639239215334),
 (1031, 0.10826639239215334),
 (3008, 0.10826639239215334),
 (81, 0.108094949066235),
 (5, 0.10795837927188262),
 (307, 0.107858371488239),
 (200, 0.10741723110591492),
 (1501, 0.10741723110591492),
 (1524, 0.10741723110591492),
 (1745, 0.10741723110591492),
 (2521, 0.10741723110591492),
 (572, 0.10699012312772824),
 (1512, 0.10699012312772824),
 (3093, 0.10699012312772824),
 (3630, 0.10699012312772824),
 (786, 0.10675210253672475),
 (3498, 0.10675210253672475),
 (4777, 0.10675210253672475),
 (229, 0.1060991783534611),
 (939, 0.1060991783534611),
 (262, 0.10604746049596296),
 (223, 0.10529962529853128),
 (295, 0.10529962529853128),
 (332, 0.10529962529853128),
 (472, 0.10529962529853128),
 (1237, 0.10529962529853128),
 (170, 0.105129283382795),
 (105, 0.10482848367219183),
 (233, 0.10482848367219183),
 (627, 0.10482848367219183),
 (2634, 0.10482848367219183),
 (3055, 0.10482848367219183),
 (4135, 0.10482848367219183),
 (541, 0.10423454980627082),
 (467, 0.10423454980627081),
 (131, 0.10390486669322622),
 (687, 0.10390486669322622),
 (814, 0.10390486669322622),
 (1195, 0.10390486669322622),
 (1771, 0.10390486669322622),
 (2072, 0.10390486669322622),
 (3340, 0.10390486669322622),
 (654, 0.10336227882434038),
 (1496, 0.10336227882434038),
 (2439, 0.10336227882434038),
 (2498, 0.10336227882434038),
 (10, 0.10256410256410256),
 (75, 0.10256410256410256),
 (174, 0.10256410256410256),
 (2148, 0.10256410256410256),
 (2817, 0.10256410256410256),
 (1455, 0.1025115460130912),
 (624, 0.10241831129983783),
 (1166, 0.10241831129983783),
 (2323, 0.10241831129983783),
 (2456, 0.10241831129983783),
 (3621, 0.10241831129983783),
 (157, 0.10241831129983782),
 (3839, 0.10241831129983782),
 (1082, 0.10127393670836667),
 (3152, 0.10127393670836667),
 (3634, 0.10127393670836667),
 (3755, 0.10127393670836667),
 (3874, 0.10127393670836667),
 (4097, 0.10127393670836667),
 (1439, 0.10087125544480038),
 (2106, 0.10087125544480038),
 (319, 0.10016708449412667),
 (1280, 0.10016708449412667),
 (2762, 0.10016708449412667),
 (3663, 0.10016708449412667),
 (3954, 0.10016708449412667),
 (1405, 0.10008009612817946),
 (3441, 0.10008009612817945),
 (207, 0.10003126465607107),
 (330, 0.10003126465607107),
 (508, 0.10003126465607107),
 (643, 0.10003126465607107),
 (1294, 0.10003126465607107),
 (445, 0.09883324222148016),
 (988, 0.09883324222148016),
 (1614, 0.09883324222148016),
 (2247, 0.09883324222148016),
 (363, 0.09855206599818042),
 (33, 0.09805806756909202),
 (35, 0.09805806756909202),
 (325, 0.09805806756909202),
 (878, 0.09805806756909202),
 (1077, 0.09805806756909202),
 (1884, 0.09805806756909202),
 (1942, 0.09805806756909202),
 (2053, 0.09805806756909202),
 (2562, 0.09805806756909202),
 (4018, 0.09805806756909202),
 (4198, 0.09805806756909202),
 (4331, 0.09805806756909202),
 (4490, 0.09805806756909202),
 (491, 0.09781383788084239),
 (2099, 0.09781383788084239),
 (266, 0.09767725810110087),
 (480, 0.09767725810110087),
 (510, 0.09767725810110087),
 (1037, 0.09767725810110087),
 (3783, 0.09767725810110087),
 (3935, 0.09767725810110087),
 (1775, 0.09709195467257717),
 (535, 0.09656090991705352),
 (898, 0.09656090991705352),
 (1401, 0.09656090991705352),
 (1823, 0.09656090991705352),
 (2253, 0.09656090991705352),
 (3620, 0.09656090991705352),
 (715, 0.09607689228305229),
 (1156, 0.09607689228305229),
 (1727, 0.09607689228305229),
 (3537, 0.09607689228305229),
 (4256, 0.09607689228305229),
 (4403, 0.09607689228305229),
 (4472, 0.09607689228305229),
 (9, 0.09548198320525772),
 (312, 0.09548198320525772),
 (334, 0.09548198320525772),
 (371, 0.09548198320525772),
 (410, 0.09548198320525772),
 (1109, 0.09548198320525772),
 (2241, 0.09548198320525772),
 (412, 0.09443843292997713),
 (2556, 0.09443843292997713),
 (18, 0.09435641951204965),
 (263, 0.09421114395319916),
 (660, 0.09421114395319916),
 (791, 0.09421114395319916),
 (2787, 0.09421114395319916),
 (4203, 0.09421114395319916),
 (4545, 0.09370791409872918),
 (11, 0.09342836717341034),
 (587, 0.09342836717341034),
 (1692, 0.09342836717341034),
 (1996, 0.09342836717341034),
 (301, 0.0930725988812425),
 (473, 0.09245003270420486),
 (596, 0.09245003270420486),
 (1276, 0.09245003270420486),
 (1357, 0.09245003270420486),
 (2488, 0.09245003270420486),
 (2592, 0.09245003270420486),
 (2650, 0.09245003270420486),
 (2820, 0.09245003270420486),
 (3462, 0.09245003270420486),
 (3720, 0.09245003270420486),
 (4502, 0.09245003270420486),
 (148, 0.09245003270420485),
 (219, 0.09245003270420485),
 (244, 0.09245003270420485),
 (362, 0.09245003270420485),
 (511, 0.09245003270420485),
 (980, 0.09245003270420485),
 (1573, 0.09245003270420485),
 (1686, 0.09245003270420485),
 (1721, 0.09245003270420485),
 (2093, 0.09245003270420485),
 (2645, 0.09245003270420485),
 (129, 0.0915018021743355),
 (243, 0.0915018021743355),
 (279, 0.0915018021743355),
 (813, 0.0915018021743355),
 (1701, 0.0915018021743355),
 (3407, 0.0915018021743355),
 (230, 0.09124148357522649),
 (785, 0.09124148357522649),
 (12, 0.09078412990032037),
 (356, 0.09078412990032037),
 (400, 0.09078412990032037),
 (920, 0.09078412990032037),
 (1474, 0.09078412990032037),
 (1756, 0.09078412990032037),
 (2251, 0.09078412990032037),
 (2396, 0.09078412990032037),
 (239, 0.09065471553673685),
 (799, 0.09065471553673685),
 (43, 0.09058216273156766),
 (602, 0.09058216273156766),
 (997, 0.09058216273156766),
 (1446, 0.09058216273156766),
 (3881, 0.09058216273156766),
 (2570, 0.09007912422186248),
 (1233, 0.08968970586617499),
 (1846, 0.08968970586617499),
 (3389, 0.08968970586617499),
 (88, 0.08920515501750789),
 (167, 0.08920515501750789),
 (292, 0.08920515501750789),
 (1027, 0.08920515501750789),
 (1249, 0.08920515501750789),
 (1306, 0.08920515501750789),
 (1480, 0.08920515501750789),
 (2651, 0.08920515501750789),
 (2868, 0.08920515501750789),
 (331, 0.0888231183368655),
 (1530, 0.0888231183368655),
 (1698, 0.0888231183368655),
 (2856, 0.0888231183368655),
 (3443, 0.0888231183368655),
 (4353, 0.0888231183368655),
 (274, 0.08806599154457967),
 (169, 0.08798117404291673),
 (270, 0.08798117404291673),
 (1906, 0.08798117404291673),
 (2363, 0.08798117404291673),
 (4343, 0.08798117404291673),
 (2115, 0.08788174152965353),
 (23, 0.08770580193070292),
 (141, 0.08770580193070292),
 (389, 0.08770580193070292),
 (564, 0.08770580193070292),
 (2660, 0.08770580193070292),
 (2957, 0.08770580193070292),
 (3322, 0.08770580193070292),
 (3449, 0.08770580193070292),
 (479, 0.08735706972682653),
 (618, 0.08716272672808179),
 (752, 0.08716272672808179),
 (1783, 0.08716272672808179),
 (2713, 0.08716272672808179),
 (2740, 0.08716272672808179),
 (3553, 0.08716272672808179),
 (2448, 0.08684168428648435),
 (143, 0.0863667034175061),
 (199, 0.0863667034175061),
 (1832, 0.0863667034175061),
 (3556, 0.0863667034175061),
 (2, 0.08627959628145762),
 (457, 0.08627959628145762),
 (745, 0.08627959628145762),
 (960, 0.08627959628145762),
 (1259, 0.08627959628145762),
 (2583, 0.08627959628145762),
 (3448, 0.08627959628145762),
 (62, 0.08559209850218259),
 (234, 0.08559209850218259),
 (381, 0.08559209850218259),
 (534, 0.08559209850218259),
 (740, 0.08559209850218259),
 (827, 0.08559209850218259),
 (1019, 0.08559209850218259),
 (2354, 0.08559209850218259),
 (2796, 0.08559209850218259),
 (2880, 0.08559209850218259),
 (4516, 0.08559209850218259),
 (4587, 0.08559209850218259),
 (775, 0.08492077756084468),
 (794, 0.08492077756084468),
 (1097, 0.08492077756084468),
 (1142, 0.08492077756084468),
 (3135, 0.08492077756084468),
 (4754, 0.08492077756084468),
 (32, 0.08483796839677037),
 (217, 0.08483796839677037),
 (2968, 0.08483796839677037),
 (48, 0.084103426706236),
 (1305, 0.084103426706236),
 (1, 0.08362420100070908),
 (142, 0.08362420100070908),
 (152, 0.08362420100070908),
 (203, 0.08362420100070908),
 (894, 0.08362420100070908),
 (1589, 0.08362420100070908),
 (1688, 0.08362420100070908),
 (2304, 0.08362420100070908),
 (4560, 0.08362420100070908),
 (190, 0.08338763984501665),
 (1639, 0.08338763984501665),
 (19, 0.0826898230594723),
 (1664, 0.0826898230594723),
 (3180, 0.0826898230594723),
 (3218, 0.0826898230594723),
 (3978, 0.0826898230594723),
 (4737, 0.0826898230594723),
 (39, 0.08238525545716345),
 (242, 0.08238525545716345),
 (315, 0.08238525545716345),
 (341, 0.08238525545716345),
 (547, 0.08238525545716345),
 (2128, 0.08238525545716345),
 (3301, 0.08238525545716345),
 (2386, 0.0821440096816907),
 (403, 0.08200923681047297),
 (2203, 0.08200923681047297),
 (1202, 0.08134518347820842),
 (227, 0.081199794294115),
 (626, 0.081199794294115),
 (787, 0.081199794294115),
 (901, 0.081199794294115),
 (1207, 0.081199794294115),
 (1749, 0.081199794294115),
 (2167, 0.081199794294115),
 (2661, 0.081199794294115),
 (3140, 0.081199794294115),
 (3470, 0.081199794294115),
 (4626, 0.081199794294115),
 (38, 0.0806970043558403),
 (45, 0.0806970043558403),
 (63, 0.0806970043558403),
 (501, 0.0806970043558403),
 (245, 0.08006407690254357),
 (306, 0.08006407690254357),
 (584, 0.08006407690254357),
 (776, 0.08006407690254357),
 (812, 0.08006407690254357),
 (866, 0.08006407690254357),
 (899, 0.08006407690254357),
 (1269, 0.08006407690254357),
 (1519, 0.08006407690254357),
 (2339, 0.08006407690254357),
 (2644, 0.08006407690254357),
 (2671, 0.08006407690254357),
 (2865, 0.08006407690254357),
 (2877, 0.08006407690254357),
 (3527, 0.08006407690254357),
 (3926, 0.08006407690254357),
 (4492, 0.08006407690254357),
 (4641, 0.08006407690254357),
 (4654, 0.08006407690254357),
 (4657, 0.08006407690254357),
 (1534, 0.07944581222989573),
 (3905, 0.07944581222989573),
 (486, 0.07927524902574902),
 (37, 0.07897471897389846),
 (164, 0.07897471897389846),
 (329, 0.07897471897389846),
 (854, 0.07897471897389846),
 (1325, 0.07897471897389846),
 (2295, 0.07897471897389846),
 (2683, 0.07897471897389846),
 (3102, 0.07897471897389846),
 (3764, 0.07897471897389846),
 (3816, 0.07897471897389846),
 (3851, 0.07897471897389846),
 (51, 0.07884165279854434),
 (153, 0.07884165279854434),
 (222, 0.07884165279854434),
 (1898, 0.07884165279854434),
 (2792, 0.07884165279854434),
 (103, 0.0782510703046739),
 (1926, 0.0782510703046739),
 (4506, 0.0782510703046739),
 (16, 0.07792865001991967),
 (241, 0.07792865001991967),
 (1080, 0.07792865001991967),
 (1161, 0.07792865001991967),
 (1747, 0.07792865001991967),
 (3091, 0.07792865001991967),
 (3164, 0.07792865001991967),
 (3233, 0.07792865001991967),
 (4316, 0.07792865001991967),
 (4341, 0.07792865001991967),
 (193, 0.07776510597812535),
 (850, 0.07767356373806174),
 (1005, 0.07767356373806174),
 (1139, 0.07767356373806174),
 (1828, 0.07767356373806174),
 (3728, 0.07767356373806174),
 (3832, 0.07767356373806174),
 (4473, 0.07767356373806174),
 (4568, 0.07767356373806174),
 (1659, 0.07710865759549869),
 (40, 0.07692307692307693),
 (96, 0.07692307692307693),
 (101, 0.07692307692307693),
 (112, 0.07692307692307693),
 (402, 0.07692307692307693),
 (632, 0.07692307692307693),
 (737, 0.07692307692307693),
 (922, 0.07692307692307693),
 (1113, 0.07692307692307693),
 (1289, 0.07692307692307693),
 (2219, 0.07692307692307693),
 (2938, 0.07692307692307693),
 (3028, 0.07692307692307693),
 (286, 0.07655590023509527),
 (1282, 0.07655590023509527),
 (1924, 0.07655590023509527),
 (3560, 0.07655590023509527),
 (70, 0.075955452531275),
 (71, 0.075955452531275),
 (503, 0.075955452531275),
 (4268, 0.075955452531275),
 (4558, 0.075955452531275),
 (4624, 0.075955452531275),
 (800, 0.07548513560963972),
 (1254, 0.07548513560963972),
 (1521, 0.07548513560963972),
 (1621, 0.07548513560963972),
 (2005, 0.07548513560963972),
 (2165, 0.07548513560963972),
 (2274, 0.07548513560963972),
 (2381, 0.07548513560963972),
 (2479, 0.07548513560963972),
 (2712, 0.07548513560963972),
 (3126, 0.07548513560963972),
 (3430, 0.07548513560963972),
 (4165, 0.07548513560963972),
 (4279, 0.07548513560963972),
 (125, 0.07548513560963971),
 (82, 0.07502344849205331),
 (98, 0.07502344849205331),
 (210, 0.07502344849205331),
 (235, 0.07502344849205331),
 (349, 0.07502344849205331),
 (365, 0.07502344849205331),
 (492, 0.07502344849205331),
 (634, 0.07502344849205331),
 (680, 0.07502344849205331),
 (1290, 0.07502344849205331),
 (1523, 0.07502344849205331),
 (2163, 0.07502344849205331),
 (2449, 0.07502344849205331),
 (2916, 0.07502344849205331),
 (4045, 0.07502344849205331),
 (246, 0.07496633127898335),
 (2256, 0.074458079104994),
 (3331, 0.07433762918125657),
 (361, 0.07412493166611012),
 (540, 0.07412493166611012),
 (1009, 0.07412493166611012),
 (1293, 0.07412493166611012),
 (1623, 0.07412493166611012),
 (4205, 0.07412493166611012),
 (205, 0.0734718358370645),
 (995, 0.0734718358370645),
 (1045, 0.0734718358370645),
 (1323, 0.0734718358370645),
 (1655, 0.0734718358370645),
 (1770, 0.0734718358370645),
 (1990, 0.0734718358370645),
 (2212, 0.0734718358370645),
 (2317, 0.0734718358370645),

In [41]:
# Top 5 movies
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(1216, 0.28306925853614895),
 (2409, 0.26257545381445874),
 (3730, 0.25715142542972574),
 (539, 0.254762332682534),
 (507, 0.2545139051903111)]

In [46]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movies_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [47]:
recommend("Avatar")

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Titan A.E.
Independence Day

In [45]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [48]:
import pickle
pickle.dump(new_df, open("movies.pkl", "wb"))

In [49]:
pickle.dump(new_df.to_dict(), open('movie_dict.pkl', 'wb'))

In [50]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))